body
{
	background-color: #F3F3F3 !important;
	font-family: 'Roboto', sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
}
h1
{
	font-size: 60px;
	font-weight: bold;
	color: #EEEEEE;
	text-align: center;
}
#description p{
	font-size: 18px;
	color: #455062;
}
h2{
	color: #354052;
}
.input-group{
	margin-top: 20px;
}
.container-fluid
{
	padding-left: 0px;
	padding-right: 0px;
}

.sidebar
{
	background-color: #354052;
	height:100vh;
	width: 210px;
	z-index:1030;
	padding: 0px;
	margin-left: 0px;
	margin-right: 10px;
	box-shadow: 0px 0px 2px gray;
}
#nav a
{
	color: #767777;
	font-size: 40px;
	font-weight: bold;
}

canvas
{
	max-width: 800px;
	max-height: 800px;
}
#url
{
	background-color: #EEEEEE;
	font-size:20px;
	height:42px;
}

.btn-group{
	margin-top: 100px;

}

#sidebar-btn:hover{
	background:#253042;
}

#sidebar-btn
{
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #354052;
	color: white;
	font-size: 20px;
	width: 100%;
}

#analyze
{
	background-color: #354052 !important;
	font-size:20px;
	color: white;
}
th, label
{
	font-size: 20px;
	color: #767777;
}

table, td, th
{
	/*border-top: 1px solid #374148 !important;*/
	border-bottom: 1px solid #374148 !important;
	font-size: 20px;
	color: #878888;
	background-color: #F3F3F3;
}

th{
	color:#767777;
}

#particles-js
{
	background:cornflowerblue;
}















